*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width: 400px;
    background: none;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #1e90ff;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #073860;
}

button:first-child{
    background: red;
}

button:first-child:hover{
    background: #4b0202;
}
